<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @ticket.analist %></h1>
    <p>
      Segundo correo de notificación por vencimiento en un plazo de 15 dias.
    </p>
  </body>
</html>
