<div class="row">
  <div class="col-md-6 text-left">
    <%= link_to 'Ingresar nuevo proveedor', new_provider_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<br>

<div class="card shadow mb-4 border-left-primary">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between font-weight-bold text-primary">
    Proveedores
  </div>

  <div class="card-body">
    <%= content_tag :table, role: :datatable, data: { url: providers_path(format: :json) }, class: 'table table-bordered text-center' do %>
      <thead>
        <tr>
          <th>RUT proveedor</th>
          <th>Razon social</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    <% end %>
    <br>
  </div>
</div>
