<div class="card shadow mb-4 border-left-success">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between font-weight-bold text-success">
    Usuarios
  </div>

  <div class="card-body">
    <table class="table table-bordered text-center" id="dttb">
      <thead>
        <tr>
          <th>Correo electrónico</th>
          <th>Fecha creación</th>
          <th>Rol usuario</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.created_at.to_date %></td>
            <% if user.admin == true %>
              <td><span class="btn btn-outline-primary btn-sm">Administrador</span></td>
            <% else %>
              <td><span class="btn btn-outline-success btn-sm">Usuario</span></td>
            <% end %>
            <td><%= link_to 'Eliminar usuario', users_path, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-sm btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
