<div class="card shadow mb-4 border-left-success">
  <div class="card-header">
    <h6 class="m-0 font-weight-bold text-success">Editar registro de garantia</h6>
  </div>
  <div class="card-body">
    <%= render 'form', ticket: @ticket %>
  </div>
</div>
