<div class="row">
  <div class="col-md-6 text-left">
    <%= link_to 'Nuevo registro de garantia', new_ticket_path, class: 'btn btn-success btn-sm' %>
  </div>
</div>

<br>

<div class="card shadow mb-4 border-left-success">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between font-weight-bold text-success">
    Garantias
  </div>

  <div class="card-body">
    <%= content_tag :table, role: :datatable, data: { url: tickets_path(format: :json) }, class: 'table table-sm table-bordered text-center' do %>
      <thead>
        <tr>
          <th>Numero correlativo</th>
          <th>Numero memorandum</th>
          <th>Numero garantia</th>
          <th>Proyecto</th>
          <th>Codigo BIP</th>
          <th>Analista</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    <% end %>
  </div>
</div>
