<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @ticket.analist %></h1>
    <p>
      Primer correo para notificacion de vencimiento en un plazo de 30 dias
    </p>
  </body>
</html>
