<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola <%= @ticket.user.email %></h1>
    <p>
      Nuevo registro agregado al sistema.
    </p>
  </body>
</html>
